<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1> The Home Page <%= 4+5+1 %>  </h1> 
    <!-- if anything is <%= %> between this that is treated as JS -->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam laboriosam expedita asperiores, labore qui a? Velit eos quasi accusamus aut cupiditate, nostrum est iusto! Itaque alias quaerat placeat numquam nobis!</p>
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus excepturi earum doloribus sit aperiam in ipsum modi tempora fugit commodi sunt, enim ea velit totam natus error iure amet est.</p>
</body>
</html>